<h1>Calendar</h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9-10</td>
            <td>
            {{#if time.sat9}}
                <dev class='not_free'>{{time.sat9}}</dev>
            {{else}}
                <div class='free'>Free</div>
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun9}}
                <dev class='not_free'>{{time.sun9}}</dev>
            {{else}}
                <div class='free'>Free</div>
            {{/if}}
            </td>
            <td>
            {{#if time.mon9}}
                <dev class='not_free'>{{time.mon9}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue9}}
                <dev class='not_free'>{{time.tue9}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed9}}
                <dev class='not_free'>{{time.wed9}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu9}}
                <dev class='not_free'><{{time.thu9}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>10-11</td>
            <td>
            {{#if time.sat10}}
                <dev class='not_free'>{{time.sat10}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun10}}
                <dev class='not_free'>{{time.sun10}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon10}}
                <dev class='not_free'>{{time.mon10}}</dev>
            {{else}}
                ~Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue10}}
                <dev class='not_free'>{{time.tue10}}</dev>
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed10}}
                {{time.wed10}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu10}}
                {{time.thu10}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>11-12</td>
            <td>
            {{#if time.sat11}}
                {{time.sat11}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun11}}
                {{time.sun11}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon11}}
                {{time.mon11}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue11}}
                {{time.tue11}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed11}}
                {{time.wed11}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu11}}
                {{time.thu11}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>12-1</td><td>
            {{#if time.sat12}}
                {{time.sat12}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun12}}
                {{time.sun12}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon12}}
                {{time.mon12}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue12}}
                {{time.tue12}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed12}}
                {{time.wed12}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu12}}
                {{time.thu12}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>1-2</td><td>
            {{#if time.sat1}}
                {{time.sat1}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun1}}
                {{time.sun1}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon1}}
                {{time.mon1}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue1}}
                {{time.tue1}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed1}}
                {{time.wed1}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu1}}
                {{time.thu1}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>2-3</td><td>
            {{#if time.sat2}}
                {{time.sat2}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun2}}
                {{time.sun2}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon2}}
                {{time.mon2}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue2}}
                {{time.tue2}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed2}}
                {{time.wed2}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu2}}
                {{time.thu2}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>3-4</td><td>
            {{#if time.sat3}}
                {{time.sat3}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if ٍtime.sun3}}
                {{time.sun3}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.mon3}}
                {{time.mon3}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.tue3}}
                {{time.tue3}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.wed3}}
                {{time.wed3}}
            {{else}}
                Free
            {{/if}}
            </td>
            <td>
            {{#if time.thu3}}
                {{time.thu3}}
            {{else}}
                Free
            {{/if}}
            </td>
        </tr>
    </tbody>
</table>