<h1>Calendar</h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9-10</td>
            <td>
            {{#if time.sat9}}
                <span class="not_free">{{time.sat9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun9}}
                <span class="not_free">{{time.sun9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon9}}
                <span class="not_free">{{time.mon9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue9}}
                <span class="not_free">{{time.tue9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed9}}
                <span class="not_free">{{time.wed9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu9}}
                <span class="not_free">{{time.thu9}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>10-11</td>
            <td>
            {{#if time.sat10}}
                <span class='not_free'>{{time.sat10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun10}}
                <span class='not_free'>{{time.sun10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon10}}
                <span class='not_free'>{{time.mon10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue10}}
                <span class='not_free'>{{time.tue10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed10}}
                <span class="not_free">{{time.wed10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu10}}
                <span class="not_free">{{time.thu10}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>11-12</td>
            <td>
            {{#if time.sat11}}
                <span class="not_free">{{time.sat11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun11}}
                <span class="not_free">{{time.sun11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon11}}
                <span class="not_free">{{time.mon11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue11}}
                <span class="not_free">{{time.tue11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed11}}
                <span class="not_free">{{time.wed11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu11}}
                <span class="not_free">{{time.thu11}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>12-1</td>
            <td>
            {{#if time.sat12}}
                <span class="not_free">{{time.sat12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun12}}
                <span class="not_free">{{time.sun12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon12}}
                <span class="not_free">{{time.mon12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue12}}
                <span class="not_free">{{time.tue12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed12}}
                <span class="not_free">{{time.wed12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu12}}
                <span class="not_free">{{time.thu12}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>1-2</td>
            <td>
            {{#if time.sat1}}
                <span class="not_free">{{time.sat1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun1}}
                <span class="not_free">{{time.sun1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon1}}
                <span class="not_free">{{time.mon1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue1}}
                <span class="not_free">{{time.tue1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed1}}
                <span class="not_free">{{time.wed1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu1}}
                <span class="not_free">{{time.thu1}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>2-3</td>
            <td>
            {{#if time.sat2}}
                <span class="not_free">{{time.sat2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun2}}
                <span class="not_free">{{time.sun2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon2}}
                <span class="not_free">{{time.mon2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue2}}
                <span class="not_free">{{time.tue2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed2}}
                <span class="not_free">{{time.wed2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu2}}
                <span class="not_free">{{time.thu2}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
        <tr>
            <td>3-4</td>
            <td>
            {{#if time.sat3}}
                <span class="not_free">{{time.sat3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.sun3}}
                <span class="not_free">{{time.sun3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.mon3}}
                <span class="not_free">{{time.mon3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.tue3}}
                <span class="not_free">{{time.tue3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.wed3}}
                <span class="not_free">{{time.wed3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
            <td>
            {{#if time.thu3}}
                <span class="not_free">{{time.thu3}}</span>
            {{else}}
                <span class="free">Free</span>
            {{/if}}
            </td>
        </tr>
    </tbody>
</table>