<h1>Calendar</h1>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p class="head">Time</p>
            <p class="time" id="9">9-10</p>
            <p class="time" id="10">10-11</p>
            <p class="time" id="11">11-12</p>
            <p class="time" id="12">12-1</p>
            <p class="time" id="13">1-2</p>
            <p class="time" id="14">2-3</p>
            <p class="time" id="15">3-4</p>
        </div>        
        <div class="col">
            <p class="head">Saturday</p>
            {{#each saturday as |saturday|}}
                <p class="saturday">{{saturday}}</p>
            {{/each}}
        </div>
        <div class="col">
            <p class="head">Sunday</p>
            {{#each sunday as |sunday|}}
                <p class="sunday">{{sunday}}</p>
            {{/each}}
        </div>
        <div class="col">
            <p class="head">Monday</p>
            {{#each monday as |monday|}}
                <p class="monday">{{monday}}</p>
            {{/each}}
        </div>
        <div class="col">
            <p class="head">Tuesday</p>
            {{#each tuesday as |tuesday|}}
                <p class="tuesday">{{tuesday}}</p>
            {{/each}}
        </div>
        <div class="col">
            <p class="head">Wednesday</p>
            {{#each wednesday as |wednesday|}}
                <p class="wednesday">{{wednesday}}</p>
            {{/each}}
        </div>
        <div class="col">
            <p class="head">Thursday</p>
            {{#each thursday as |thursday|}}
                <p class="thursday">{{thursday}}</p>
            {{/each}}
        </div>
    </div>
</div>