<h1>{{title}}</h1>
<hr>
{{#if group_list}}
    <div class="ul">
        {{#each group_list as |group|}}
        <div class='card'>
            <a class="box" href="level/group/{{group.url}}">{{group.name}}</a>
            <div class='card-body'>
                <p class="card-text">
                    {{group.current_level.name}}
                </p>
                <p class="card-text">
                    The group started the level in: {{group.short_level_start_date}}
                </p>
                <p class="card-text">
                    The group should end the level in: {{group.short_level_end_date}}
                </p>
                <p class="card-text">
                    {{group.status}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
{{else}}
    <h6 class="text-danger">
        There are no groups
    </h6>
{{/if}}