<h1>{{group.name}}</h1>
<hr>
<div style="margin-left:20px;margin-top:20px">
    <div class="btn-toolbar">
        <a class="btn btn-success" href='{{group.url}}/update'>Update {{group.name}}</a> &nbsp;
        <a class="btn btn-danger" href='{{group.url}}/delete'>Delete {{group.name}}</a>&nbsp;
        <a class="btn btn-secondary" href="/admin/level/group/{{group._id}}/new_meeting">New meeting</a>&nbsp;
        {{#if next_level}}
            <form method="POST" action="">
                <input id="next_level" type="hidden" name="next_level" value="{{next_level._id}}">
                <button class="btn btn-primary" type="submit">Next level</button>
            </form>
        {{/if}}
    </div>
    <br>
    <h4>{{title}}</h4>
    <hr style="width: 18%;">
    <h6><strong>The current level is: </strong>{{group.current_level.name}}</h6>
    <h6><strong>The group started the level in: </strong>{{group.short_level_start_date}}</h6>
    <h6><strong>The group should end the level in: </strong>{{group.short_level_end_date}}</h6>
    <h6><strong>Status: </strong>{{group.status}}</h6>
    <h6><strong>Lecture attended: </strong>{{group.lecture_attended}}</h6>
    <hr>
    <h4>Meeting Time</h4>
    <hr style="width: 18%;">
    <div id="time">
        {{#if group.lecture_time.0.saturday}}
            <h6>Saturday: {{group.lecture_time.0.saturday}}</h6>
        {{/if}}
        {{#if group.lecture_time.1.sunday}}
            <h6>Sunday: {{group.lecture_time.1.sunday}}</h6>
        {{/if}}
        {{#if group.lecture_time.2.monday}}
            <h6>Monday: {{group.lecture_time.2.monday}}</h6>
        {{/if}}
        {{#if group.lecture_time.3.tuesday}}
            <h6>Tuesday: {{group.lecture_time.3.tuesday}}</h6>
        {{/if}}
        {{#if group.lecture_time.4.wednesday}}
            <h6>Wednesday: {{group.lecture_time.4.wednesday}}</h6>
        {{/if}}
        {{#if group.lecture_time.5.thursday}}
            <h6>Thursday: {{group.lecture_time.5.thursday}}</h6>
        {{/if}}   
    </div>
    <h6 class="text-danger" id="wowo"></h6>
    <script>
        if(document.getElementById('time').innerHTML.trim() === ""){
            document.getElementById('wowo').innerHTML = "There is no time";
        }
    </script>
    <hr>
    <h4>Students Table</h4>
    {{#if students}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Current Group</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Enroll Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each students as |student|}}
                    <tr>
                        <td>
                            <a href='student/{{student.url}}'>{{student.name}}</a>
                        </td>
                        <td>
                            {{group.name}}
                        </td>
                        <td>
                            {{student.phone_number}}
                        </td>
                        <td>
                            {{student.status}}
                        </td>
                        <td>
                            {{student.due_back_formatted}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <h6 class="text-danger">
            There is no students in the group
        </h6>
    {{/if}}
    <br>
<div>
