<h1>Delete {{groups.name}}</h1>
<div style='margin-left:20px;margin-top:20px'>
    {{#if students.length}}
        <h6>Delete the following students before attempting to delete this group</h6>
        <ul>
            {{#each students as |student|}}
                <li>
                    <a href='/admin/level/group/student/{{student.url}}'>{{student.name}}</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <h6>
            Do you really want to delete this Group?
        </h6>
        <br>
        <form method="POST" action="">
            <div class="form-group">
               <input id="delete" class="form-control" type='hidden' name='delete' value={{groups._id}}>
            </div>
            <span><button class="btn btn-danger" type='submit'>Delete</button> &nbsp;&nbsp;&nbsp;&nbsp; <a class="btn btn-primary" href="/admin/level/group/{{groups._id}}" role="button">Cancel</a></span>
        </form>
  {{/if}}
</div>