<div class="title">
    <h1>{{title}}</h1>
</div>
<hr>
{{#if errors}}
    <div class="mt-3 mb-3">
        {{#each errors as |error|}}
            <span class="text-danger">{{error.msg}}</span>
            <br>
        {{/each}}
    </div>
{{/if}}
<form method="POST" action="">
    <div class="mb-3">
        <label class="form-label" for="Name"><strong>Level name: <span class="text-danger">*</span></strong></label>
        <input id="name" type="text" placeholder="The level name..." name="name" class="form-control" value='{{level.name}}'>
    </div>
    <div class="mb-3">
        <label class="form-label" for="Total_Days"><strong>Total days: <span class="text-danger">*</span></strong></label>
        <input id="total_days" type="number" placeholder="The total days..." min="1" name="total_days" class="form-control" value={{level.total_days}}>
    </div>
    <div class="mb-3">
        <label class="form-label" for="Description"><strong>Description: <span class="text-danger">*</span></strong></label>
        <textarea id="description" class="form-control" placeholder="Enter the description..." name="description">{{level.description}}</textarea>
    </div>
    <div style="display: none;" id="type1">{{level.type}}</div>
    <div>
        <label class="form-label"><strong>Choose the level type: <span class="text-danger">*</span></strong></label>
        <select class="form-select" id='type' name="type">
            <option value="Basic">Basic</option>
            <option value="Independent">Independent</option>
        </select>
    </div>
    <script>
        window.onload = function(){
            selectx = document.getElementById('type1').innerText
            if(selectx){
                document.getElementById('type').value = selectx
            }
        }
    </script>
    <div class="mt-3 mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>