<h1>{{title}}</h1>
<hr>
{{#if level_list}}
    <div class="ul">
        {{#each level_list as |level|}}
        <div class='card'>
            <a class="box" href='/admin/level/{{level.url}}'>{{level.name}}</a>
            <div class='card-body'>
                <p class="card-text">
                    {{level.description}}
                </p>
            </div>
        </div>
        {{/each}}
        <div class="clear-fix"></div>
    </div>
{{else}}
    <h6 class="text-danger">
        There are no levels
    </h6>
{{/if}}
