<h1>{{title}}</h1>
<div style="margin-left:20px;margin-top:20px">
    <h3>{{group.current_level.name}}</h3>
    <div id="title" style="display: none;">{{group.current_level._id}}</div>
    {{#if students}}
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Student Name</th>
                        <th scope="col">Attended</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Current Group</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students as |student|}}
                        <tr>
                            <td>
                                <a href='/level/group/student/{{student.url}}'>{{student.name}}</a>
                            </td>
                            <td>
                                <input class="form-check-input attended" type="checkbox" name="attended" id="attended" value={{student._id}}>
                            </td>
                            <td>
                                <input class="form-check-input reason" type="checkbox" name="reason" id="reason" value={{student._id}}>
                            </td>
                            <td>
                                {{group.name}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <button onclick="checked();" class="btn btn-primary" type="submit">Submit</button>
        </div>
    {{else}}
        <p class="text-danger">
            There are no students in this group.
        </p>
    {{/if}}
<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var title =  document.getElementById('title').innerHTML
    function checked(){
        var list = [];
        var i = 0;
        while(i < $("input.attended:checkbox:not(:checked)").length){
            x = $("input.attended:checkbox:not(:checked)")[i]
            val = x.value;
            if($("input.reason:checkbox")[i].checked == true){
                reason = true
            }else{
                reason = false
            }
            list.push({ 'level': title, 'unattended' : val, 'reason' : reason })
            i++;
        }
        $.ajax({
            method:'post',
            traditional: true,
            url: '/level/group/{{group._id}}/new_meeting',
            contentType: 'applicAtion/json',
            data: JSON.stringify({ 'student' : list }),
            dataType: 'json',
        });
    }
</script>