<div>
    <h1>{{title}}</h1>
</div>
<hr>
<div>
    <p><h6><strong>Student name:</strong> {{student_detail.name}}</h6></p>
    <p><h6><strong>Phone number:</strong> {{student_detail.phone_number}}</h6></p>
    <p><h6><strong>Enroll date:</strong> {{student_detail.due_back_formatted}}</h6></p>
    <p><h6><strong>Current group:</strong> {{student_detail.group.name}}</h6></p>
    <p><h6><strong>Current level:</strong> {{student_detail.group.current_level.name}}</h6></p>
    <p><h6><strong>Status:</strong> {{student_detail.status}}</h6></p>
    <hr>
    <h6>
        <a class="text-success" href='{{student_detail.url}}/uh6date'>Update Student</a>
    </h6>
    <h6>
        <a class="text-danger" href='{{student_detail.url}}/delete'>Delete Student</a>
    </h6>
</div>