<h1>{{title}}</h1>
<hr>
<div style="margin-left:20px;margin-top:20px">
    <h4>Absent Table</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Current Group</th>
                <th scope="col">Absent Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each students as |student|}}
            <tr>
                <td>
                    <a href='/admin/level/group/student/{{student._id}}'>{{student.name}}</a>
                </td>
                <td>
                    {{student.phone_number}}
                </td>
                <td>
                    {{student.group.name}}
                </td>
                <td>
                    {{ student.abs }}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>